.mainField {
    display: flex;
    align-items: center;
}

.mainField > span {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.field {
    width: 618px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.field [class^=line] {
    border: 1px solid black;
}

.gameStatistics {
    width: 618px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav {
    height: 35px;
    padding-top: 5px;
}

.eatenFigures__Black, .eatenFigures__White {
    width: 30px;
    text-align: right;
    margin-left: -1px;
}

.eated {
    background: #ff2a2a;
}

[class^=line]  span {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    padding: 5px 10px 5px 15px;
    display: inline-block;
}

.reload {
    background: #c1e1be;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 3px;
    opacity: 0.7;
    float: right;
    cursor: pointer;
    margin-left: auto;
    margin-right: 40px;
}

.reload:hover {
    opacity: 1;
}

.highlighting {
    background: #d9aaaa;
}

.highlightingActive {
    background: #794d3c;
}

img { border-radius: 5px; }

.move {
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    width: 135px;
}
@media (min-width: 1000px) {
    .gameStatistics {
        margin-left: 35%;
    }
}
