.mainField {
    display: flex;
    align-items: center;
    height: 660px;
}

.mainField > span {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.field {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgFigure {
    margin-left: 3px;
}

.gridMesh {
    background: #dcdcdc91;
}

.horizontalCellNames {
    margin-left: 5px;
    margin-right: 53px;
}

.verticalNumberCells {
    width: 10px !important;
    border: none !important;
    background: #fdf6f6;
    border-radius: 10px 0px 0px 10px;
}

.gameStatistics {
    width: 590px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav {
    height: 35px;
    padding-top: 5px;
}

.eatenFigures__Black, .eatenFigures__White {
    width: 30px;
    text-align: right;
    margin-left: -1px;
}

[class^=line]  span {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
}

.reload {
    background: #c1e1be;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 3px;
    opacity: 0.7;
    float: right;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
}

.reload:hover {
    opacity: 1;
}

.highlighting {
    background: #e3c1c1;
    border-radius: 4px;
    opacity: 0.9;
}

.highlightingActive {
    background: #ffd78c;
    border-radius: 4px;
    opacity: 0.9;
}

.move {
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    width: 135px;
    text-align: center;
}

@media (min-width: 1000px) {
    .gameStatistics {
        margin-left: 35%;
    }
}

.changeFigure {
    cursor: pointer;
    border: 1px solid #e1e1e1;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: center;
    padding-right: 15px;
    margin-bottom: 10px;
}

.changeFigureWhite {
    text-align: center;
    padding-bottom: 6px;
    display: none;
}
.changeFigureBlack {
    text-align: center;
    display: none;
}

.prevMove {
    margin-left: 10px;
}
.prevMove > input {
    width: 30px;
}

.timer {
    float: right;
    margin-right: 10px;
}
